.inputWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
}

.inputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
        
#container {
    display: flex;
    justify-content: space-around;
}

#chatSection {
    width: 60%;
}

#noteSection {
    width: 30%;
}

textarea {
    width: 70%;
    font-size: 18px;
    resize: vertical;
    flex-grow: 1;
    margin-right: 10px;
}

button {
    width: 25%;
    font-size: 18px;
    padding: 15px 30px;
}

body {
    /* background-image: url('templates/TheGreatWall_HaoWei.jpg'); */
    /* background-image: url('TheGreatWall_HaoWei.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #ffae00;
}

.checkboxes {
    margin: 10px 0; 
    height: 40px;
}

.chatHeading {
    height: 30px;
}

.notesHeading {
    height: 70px; 
}

#chatbox {
    max-height: 400px;
    overflow-y: auto;
    font-size: 18px;
    padding: 10px;
}

#notesbox {
    max-height: 400px;
    overflow-y: auto;
    font-size: 18px;
    padding: 10px;
}